<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create-maps.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css " />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="/scripts/client.js"></script> -->
    <!-- <script src="./routes/points.js"></script> -->

    <title>Create a map</title>
  </head>
  <body>
    <header>
      <%- include partials/_header.ejs %>
    </header>
    <h1>Edit your map here</h1>
    <div class="container map">
      <h2><%= mapName %></h2>
      <div id="map"></div>
    </div>
    <div class="container padding display-flex">

      <!-- Add new point/map from -->
      <% if (user === null) { %>
        <p>Please login to edit the map!</p>

        <h3 class="text-center">List of <%= map[0].type %>s</h3>
        <div class="container-fluid point-container padding">
          <% map.forEach(point => { %>
            <div class="col-md-12 name-details padding d-flex" id="<%= point.id %>">
              <button class="col-md-6 point btn btn-outline-secondary"><%= point.name %></button>
            <div class="container point-description">
              <p><b>Address: </b><%= point.address %></p>
              <p><b>Comment: </b><%= point.description %></p>
            </div>
          </div>
          <% }) %>
        </div>
        <% } else { %>

        <!-- <div id="searchBar"> -->
          <h3>Add new places:</h3>

        <form id="my-form" class="form-group" action="/api/points" method="POST">
          <div class="form-group">
            <input name="address" id="pac-input" class="form-control" type="text" placeholder="Enter place name here">
          </div>

          <div class="form-group" id="pointName">
            <input name="name" class="form-control" type="text" placeholder="name">
          </div>
          <div class="form-group" id="lat">
            <input name="lat" class="form-control" placeholder="latitude" readonly>
          </div>
          <div class="form-group" id="lng">
            <input name="lng" class="form-control" placeholder="longitude" readonly>
          </div>
          <div class="form-group" id="pointDesc">
            <input name="content" class="form-control" type="text" placeholder="Enter a description here">
          </div>
          <button id="submitForm" type="submit" class="btn btn-outline-secondary btn-lg">Submit</button>

          <input type="hidden" name="mapId" value="<%= mapId %>">
          </form>

        <!-- List of points with description and delete button -->
        <h3 class="text-center">List of places</h3>
        <div class="container-fluid point-container padding">
          <% map.forEach(point => { %>
            <div class="col-md-12 name-details padding" id="<%= point.id %>">
              <button class="col-md-6 point btn btn-outline-secondary"><%= point.name %></button>
              <div class="delete-form btn btn-outline-danger col-md-2">Delete  ❌</div>
            <div class="container point-description">
              <p><b>Address: </b><%= point.address %></p>
              <p><b>Comment: </b><%= point.description %></p>
            </div>
          </div>
          <% }) %>
        </div>

        <% } %>




    </div>

    </br>
    </br>
    </br>
    <!-- Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Map -->
    <script src="/scripts/client.js"></script>
    <script src="/scripts/searchBar.js"></script>
    <script src="/scripts/mapFetcher.js"> </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXD5FUcV2yyZLRaY8ouajgQIEvqJMXH3A&libraries=places&callback=goGoFunction"></script>


  </body>
</html>
